figuras.ipynb
grafica_average.ipynb
graficas.ipynb
TEACHERS
teacher_real_valued_819_7
data
EXP_TEACHER_K_819
EXP_TEACHER_K_921
RESULTS_BASELINE
SPARSE_REAL_VALUED
teacher_real_valued_921_7   
teacher_binary819_7_20dB
__pycache__
SPECTRAL    
*.pdf
*.svg
